#kaocha/v1
 {:tests           [{:id         :unit
                     :type       :kaocha.type/clojure.test
                     :test-paths ["test"]}]

  :kaocha/reporter [kaocha.report/documentation]

  :plugins         [:kaocha.plugin/cloverage]

  :cloverage/opts  {:ns-exclude-regex []
                    :text?            false
                    :lcov?            true
                    :exclude-call     [nedap.utils.spec.api/check!]
                    :high-watermark   80
                    :fail-threshold   0
                    :output           "target/coverage"
                    :low-watermark    50
                    :ns-regex         []
                    :summary?         true
                    :coveralls?       false
                    :emma-xml?        false
                    :html?            true
                    :nop?             false
                    :codecov?         true}}
